.db-sub {
  padding-top: 100px;

  .agreements-h1 {
    text-align: center;
    margin: 0px 0px 8px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    //   font-family: Walsheim, Arial;
    line-height: 1.235;
  }
  .agreements-p {
    text-align: center;
    margin: 0px 0px 32px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.15px;
    //   font-family: Walsheim, Arial;
    color: rgba(18, 20, 30, 0.6);
  }
  .agreement-box {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px auto;

    .agreement-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      margin: 0 auto;
      box-shadow: rgba(204, 204, 204, 0.25) 0px 0px 6px 3px;
      border-radius: 20px;
      padding: 28px;

      .agreement-item-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;

        .agreement-number-span {
          color: #12141e99;
          font-weight: 500;
          font-size: 1.1rem;
          .agreement-number {
            margin-left: 10px;
            color: black;
            font-weight: 600;
            font-size: 1.2rem;
            letter-spacing: 0.25px;
            //   font-family: Walsheim, Arial;
            line-height: 1.235;
          }
        }
      }
      .agreements-list-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        button {
          cursor: pointer;
          padding: 15px 40px;
          font-size: 1rem;
          font-weight: 600;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
          transition: all linear 0.1s;
          border-radius: 10px;
          margin: 10px 10px;
        }
        button:hover {
          transform: translateY(-3px);
        }

        button.edit-agreement {
          color: #10bb35ff;
          background-color: white;
          border: 1px solid #10bb35ff;
        }

        button.distribute-agreement {
          background-color: #10bb35ff;
          border: 1px solid #10bb35ff;
          color: white;
        }
      }
    }
    .agreement-subscribers {
      max-width: 100%;
      // width: 100%;
      // margin: 0 auto;
      table {
        width: 100%;
        margin: 10px 0px;
        th {
          padding: 20px 0px;
          margin: 0px 0px 8px;
          font-size: 1.1rem;
          font-weight: 500;
          letter-spacing: 0.25px;
          //   font-family: Walsheim, Arial;
          line-height: 1.235;
          color: #12141e99;
          // text-align: center;
        }
        td {
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.25px;
          //   font-family: Walsheim, Arial;
          line-height: 1.235;
          // border: 1px solid #8292ad0a;
          text-align: center;
          padding: 20px;

          .edit-delete-buttons {
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            gap: 12px;
            padding: 0px;
            height: max-content;
            pointer-events: none;

            button {
              outline: 0px;
              border: 0px;
              margin: 0px;
              cursor: pointer;
              user-select: none;
              vertical-align: middle;
              appearance: none;
              text-decoration: none;
              text-align: center;
              flex: 0 0 auto;
              overflow: visible;
              transition: background-color 150ms cubic-bezier(0.55, 0, 0.1, 1)
                0ms;
              border-radius: 8px;
              padding: 6px;

              svg {
                user-select: none;
                width: 1em;
                height: 1em;
                display: inline-block;

                -webkit-flex-shrink: 0;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                -webkit-transition: fill 200ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
                transition: fill 200ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
                font-size: 1.5rem;
              }
            }
            button.edit-subscriber-button {
              color: rgb(16, 187, 53);
              background-color: rgba(16, 187, 53, 0.08);

              svg {
                fill: #10bb35;
              }
            }
            button.delete-subscriber-button {
              color: rgb(210, 37, 37);
              background-color: rgba(210, 37, 37, 0.08);

              svg {
                fill: rgb(210, 37, 37);
              }
            }
          }
        }

        tbody {
          tr {
            box-shadow: rgba(204, 204, 204, 0.25) 0px 0px 6px 3px;
            border-radius: 20px;
            margin: 10px 0px;
          }
        }
        // td:nth-of-type(1) {
        //   text-align: left;
        //   max-width: 70%;
        //   width: 70%;
        //   text-overflow: ellipsis;
        // }
        // td:last-of-type {
        //   width: 30%;
        // }

        .blokies-and-address {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .identicon {
            border-radius: 5px;
          }
          span.subscriber-address {
            margin-left: 10px;
            max-width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
