.ida-create-index-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;
    padding: 15px 40px;
    background-color: #10bb35ff;
    border: 1px solid #10bb35ff;
    box-shadow: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: all linear 0.1s;
    min-width: 178px;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
.db-ida-box {
  width: 100%;
  padding: 28px;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: rgba(204, 204, 204, 0.25) 0px 0px 6px 3px;
}

.subscriber-input-div {
  background-color: rgb(255, 255, 255);
  color: rgba(18, 20, 30, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: rgba(204, 204, 204, 0.25) 0px 0px 6px 3px;
  background-image: none;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  max-width: 100%;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 15px;
  margin: 30px 0px;

  input {
    border: 0px;
    box-sizing: content-box;
    background: none;
    // height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.009375rem;
    padding: 0px;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
